{% extends 'base.html.twig' %}

{% block title %}Technology details - {{ technology }}{% endblock %}

{% block body %}
    <div class="container single">
        <div class="row">
            <h1>{{ technology }}</h1>
        </div>
        <div class="row">
            <div><a href="{{ path('technologies_index') }}" class="button go-back"><i class="fa-solid fa-left-long left"></i> Go
                back</a></div>
        </div>
        <div class="row">
            <div class="col-md-6 block-left">
                <h2 class="block-name">
                    {{ technology }}
                </h2>
                <p class="block-description">
                    {{ technology.description | raw }}
                </p>
                <hr />
                <p class="block-count">
                    {% for key,value in techonologiesWithProjectsCounted %}
                        {% if key == technology.id %}
                            Used in <b>{{ value }}</b> project{% if value != 1 %}s{% endif %}.
                        {% endif %}
                    {% endfor %}
                </p>
            </div>
            <div class="col-md-5 block-right">
                <div class="block-image align-center"><img src="/uploads/tech/{{ technology.image }}"
                                        alt="{{ technology }}" class="technology-image"/></div>
            </div>
        </div>
    </div>

{% endblock %}