{% extends 'base.html.twig' %}

{% block title %}Administrator Dashboard{% endblock %}

{% block tags %}
<meta name="robots" content="noindex">
{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="/css/admin.css">
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ path('admin') }}"><h1>Administrator Dashboard</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('homepage') }}">FRONT PAGE</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        PROJECTS
                    </a>
                    <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item bg-dark" href="{{ path('project_index')}}">Show all</a>
                        <a class="dropdown-item bg-dark" href="{{ path('project_new')}}">Add new</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        TECHNOLOGIES
                    </a>
                    <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item bg-dark" href="{{ path('technology_index')}}">Show all</a>
                        <a class="dropdown-item bg-dark" href="{{ path('technology_new')}}">Add new</a>
                    </div>
                </li>
                <li class="nav-item align-end">
                    <a class="nav-link text-danger" href="{{ path('app_logout') }}">LOGOUT</a>
                </li>
            </ul>
        </div>

    </nav>

    <div class="admin-page">
{% block content %}


    <div class="container admin-page-container">
        <div class="row">
            <div class="col">
                <p class="text-center page-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec lobortis lacinia. Maecenas sed euismod ipsum, sit amet porta ex. Donec cursus, risus quis volutpat luctus, nulla purus tempor mauris, vel accumsan nulla magna sit amet neque. Fusce egestas porttitor tempor. Proin sodales enim sit amet nibh congue viverra. Vivamus eget leo lacinia, porta purus nec, lacinia sem. Aenean ut risus convallis, mollis libero ut, tristique purus.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <a href="{{ path('project_index') }}" class="admin-big-button">
                    <i class="fas fa-caret-right"></i> Manage your projects
                </a>
            </div>
            <div class="col-md-6 col-sm-12">
                <a href="{{ path('technology_index') }}" class="admin-big-button">
                    <i class="fas fa-caret-right"></i> Manage your technologies
                </a>
            </div>
        </div>
    </div>


{% endblock %}
    </div>

{% endblock %}
