{% extends 'base.html.twig' %}

{% block title %}Admin - manage portfolio database{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/css/admin.css">
{% endblock %}
{% block body %}

    <div class="container">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <div class="row">
            <div class="col">
                <h2>Projects</h2>
                <a href="{{ path('admin.create_project') }}">Create new <i class="fas fa-plus-circle"></i></a>
{#                TODO lista    #}
            </div>
            <div class="col">
                <h2>Technologies</h2>
                <a href="{{ path('admin.create_technology') }}">Create new <i class="fas fa-plus-circle"></i></a>
                <table  class="table table-dark table-striped">
                    <tbody>
                    {% for technology in technologies %}
                        <tr>
                            <td><img src="/uploads/{{ technology.image }}" height="30px"/></td>
                            <td class="table-name">{{ technology.name }}</td>
                            <td class="table-description">{{ technology.description }}</td>
                            <td>
                                <a href="#"><i class="far fa-edit"></i></a>
                            </td>
                            <td>
                                <a href="#"><i class="far fa-trash-alt"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
