{% extends 'base.html.twig' %}

{% block title %}Administrator Dashboard{% endblock %}

{% block tags %}
<meta name="robots" content="noindex">
{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="/css/admin.css">
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ path('admin') }}"><h1>Administrator Dashboard</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('homepage') }}">FRONT PAGE</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        PROJECTS
                    </a>
                    <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item bg-dark" href="{{ path('project_index')}}">Show all</a>
                        <a class="dropdown-item bg-dark" href="{{ path('project_new')}}">Add new</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        TECHNOLOGIES
                    </a>
                    <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item bg-dark" href="{{ path('technology_index')}}">Show all</a>
                        <a class="dropdown-item bg-dark" href="{{ path('technology_new')}}">Add new</a>
                    </div>
                </li>
                <li class="nav-item align-end">
                    <a class="nav-link text-danger" href="{{ path('app_logout') }}">LOGOUT</a>
                </li>
            </ul>
        </div>

    </nav>

    <div class="admin-page">
{% block content %}


    <div class="container admin-page-container">
        <div class="row">
            <div class="col">
y
            </div>
            <div class="col">
x
            </div>
        </div>
    </div>


{% endblock %}
    </div>

{% endblock %}
