{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}
    <div class="container archive">
        <div class="row">
            <h1>All projects</h1>
        </div>
        <div class="row">
            <h2>List of my projects</h2>
        </div>
        <div class="row">
            {% for project in projects %}
                <div class="col-lg-4 col-md-6 position-relative">
                    <a class="single-block" href="{{ path('project', { slug: project.slug }) }}">
                        <div class="container inside-block">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <p class="block-name">
                                            {{ project.name }}
                                        </p>
                                    </div>
                                    <div class="row">
                                        <p class="block-count">
                                            {{ project.description[0:147] | raw }}...
                                        </p>
                                        <div class="block-techs">
                                            <hr class="block-separator"/>
                                            {% for projectTech in project.technologies %}
                                                {% for technology in technologies %}
                                                    {% if projectTech.id == technology.id %}
                                                    <img src="/uploads/tech/{{ technology.image }}"
                                                        alt="{{ technology }}" class="block-image small-thumbnail"/>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="
                     {% if project.link starts with 'http' %}
                        {{ project.link }}
                     {% else %}
                        https://{{ project.link }}
                     {% endif %}
                    " target="_blank" rel="nofollow,noopener" class="project-link" title="{{ project.link }}">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
