{% extends 'base.html.twig' %}

{% block title %}Project details - {{ project }}{% endblock %}

{% block body %}
    <div class="container single">
        <div class="row">
            <h1>{{ project }}</h1>
        </div>
        <div class="row">
            <div><a href="{{ path('homepage') }}" class="button go-back"><i class="fa-solid fa-left-long left"></i> Go
                    back</a></div>
        </div>
        <div class="row">
            <div class="col-md-8 block-left">
                <h2 class="block-name">
                    {{ project }}
                </h2>
                <p class="block-description">
                    {{ project.description | raw }}
                </p>
                <hr/>
                <div class="row">
                    <div class="col-md-6">
                        <p class="project-link">
                            {% if project.link is not null %}
                            <i class="fa-solid fa-desktop"></i> <a href="
                                                                 {% if project.link starts with 'http' %}
                                                                    {{ project.link }}
                                                                 {% else %}
                                                                    http://{{ project.link }}
                                                                 {% endif %}
                                                                "target="_blank"
                                                                   rel="nofollow,noopener" class="project-link"
                                                                   title="{{ project.link }}">
                                {{ project.link }}
                            </a>
                            {% endif %}
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="project-link">
                            {% if project.gitLink is not null %}
                            <i class="fa-brands fa-github"></i> <a href="
                                                                {% if project.gitLink starts with 'http' %}
                                                                    {{ project.gitLink }}
                                                                {% else %}
                                                                    https://{{ project.gitLink }}
                                                                {% endif %}
                                                                " target="_blank"
                                                                   rel="nofollow,noopener" class="project-link"
                                                                   title="{{ project.gitLink }}">
                                {{ project.gitLink[0:30] }}...
                            </a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 block-right">
                <div class="block-techs">
                    <h2 class="block-name">
                        Used technologies:
                    </h2>
                    {% for projectTech in project.technologies %}
                        {% for technology in technologies %}
                            {% if projectTech.id == technology.id %}
                                <a href="{{ path('technologies_single', { slug: technology.slug }) }}">
                                    <img src="/uploads/tech/{{ technology.image }}"
                                         alt="{{ technology }}" class="block-image medium-thumbnail"/>
                                </a>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}